.grid-container{
    margin-left: 220px;
    padding: 20px;
    border: black;
    font-size: 0;
    width: 1500px;
}

.node{
    width: 25px;
    height: 25px;
    border: 1px groove white;
    display: inline-block;
}

.isStart{
    background-color: green !important;
}

.isEnd{
    background-color: red !important;
}

.isWall{
    background-color: black;
}

.isVisited{
    background-color: blue;
}

.isShortestPath{
    background-color: yellow;
}

