<header>
    <nav>
        <a href="#" class="title"><span class="titleName">Pathfinder</span></a>
        <ul class="nav-links">
            <li class="algorithms">
                <div class= dropdown>
                    <button class="dropbtn">Algorithms</button>
                    <div class="dropdown-content">
                        <a (click)="setPathfindingAlgorithm('Dijkstra')" href="#">Dijkstra</a>
                        <a (click)="setPathfindingAlgorithm('A*')" href="#">A*</a>
                        <a (click)="setPathfindingAlgorithm('Alt-Dijkstra')" href="#">Alt-Dijkstra</a>
                    </div>
                </div>
            </li>
            <li class="maze">
                <div class= dropdown>
                    <button class="dropbtn">Mazes</button>
                    <div class="dropdown-content">
                        <a (click)="visualizeMazeAlgorithm()" href="#">Random Maze</a>
                        <a href="#">To be continued...</a>
                    </div>
                </div>
            </li>
            <li class="visualize"><button id="btn-visualize" (click)="checkAlgorithm()" class="btn-visualize">Visualize!</button></li>
            <li class="clearBoard"><button id="btn-clearBoard" (click)="clearBoard()" class="btn-clearBoard">Clear Board</button></li>
            <li class="clearWalls"><button id="btn-clearWalls" (click)="clearWalls()" class="btn-clearWalls">Clear Walls</button></li>
            <li class="speed">
                <div class= dropdown>
                    <button class="dropbtn">Speed of Animation</button>
                    <div class="dropdown-content">
                        <a (click)="setSpeed('Very Fast')" href="#">Very Fast</a>
                        <a (click)="setSpeed('Fast')" href="#">Fast</a>
                        <a (click)="setSpeed('Normal')" href="#">Normal</a>
                        <a (click)="setSpeed('Slow')" href="#">Slow</a>
                        <a (click)="setSpeed('Very Slow')" href="#">Very Slow</a>
                    </div>
                </div>
            </li>
        </ul>
        <div class="burger" (click)="toggleSlideMenu()">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
</header>

<div class="slideMenu">
    <ul class="navLinks">
        <li class="slideMenuTitle">Algorithms</li>
        <li (click)="setPathfindingAlgorithm('Dijkstra')" class="item">Dijkstra</li>
        <li (click)="setPathfindingAlgorithm('A*')" class="item">A*</li>
        <li (click)="setPathfindingAlgorithm('Alt-Dijkstra')" class="item">Alt-Dijkstra</li>
        <li class="slideMenuTitle">Mazes</li>
        <li (click)="visualizeMazeAlgorithm()" class="item">Random Maze</li>
        <li class="item">To be continued...</li>
        <li (click)="checkAlgorithm()" class="slideMenuVisualize">Visualize</li>
        <li (click)="clearBoard()" class="slideMenuClear">Clear Board</li>
        <li (click)="clearWalls()" class="slideMenuClear">Clear Walls</li>
        <li class="slideMenuTitle">Speed of Animation</li>
        <li (click)="setSpeed('Very Fast')" class="item">Very Fast</li>
        <li (click)="setSpeed('Fast')" class="item">Fast</li>
        <li (click)="setSpeed('Normal')" class="item">Normal</li>
        <li (click)="setSpeed('Slow')" class="item">Slow</li>
        <li (click)="setSpeed('Very Slow')" class="item">Very Slow</li>
    </ul>
</div>

<div class="options">
<table class="options-container">
    <tr>
        <th>General</th>
        <th>Heuristics</th>
        <th class="stats">Statistics</th>
    </tr>
    <tr>
        <td>
            <input id="showProcess" type="checkbox" (click)="setShowProcessCheckbox()"><label class="checkboxLabel" for="checkbox">Show Process</label>
        </td>
        <td>
            <input id="euclidean" type="checkbox" (click)="setHeuristicDistance('euclidean')"><label class="checkboxLabel" for="checkbox">Euclidean</label>
        </td>
        <td>
            <p id="visitedNodesStats">Visited Nodes: <label id="visitedNodes">0</label></p>
        </td>
    </tr>
    <tr>
        <td>
            <input id="bidirectional" type="checkbox"><label class="checkboxLabel" for="checkbox">Bidirectional</label>
        </td>
        <td>
            <input id="manhattan" type="checkbox" (click)="setHeuristicDistance('manhattan')"><label class="checkboxLabel" for="checkbox">Manhattan</label>
        </td>
        <td>
            <p id="shortestPathStats">Shortest path: <label id="shortestPath">0</label></p>
        </td>
    </tr>
</table>
</div>

<div class="grid-container">
    <table class="grid">
        <tr *ngFor="let rows of nodes; index as row;">
            <td *ngFor="let node of rows; index as col;"
            draggable="false"
            (mousedown)="mouseDown(row, col)"
            (mouseenter)="mouseEnter(row, col)"
            (mouseleave)="mouseLeave(row, col)"
            (mouseup)="mouseUp(row, col)">
                <div [ngClass]="{
                    'isStart': node.isStart,
                    'isEnd': node.isEnd,
                    'isWall': node.isWall,
                    'isVisited': node.isActuallyVisited,
                    'isShortestPath': node.isShortestPath,
                    'node': true
                    }" id="node.id">
                </div>
            </td>
        </tr>
    </table>
</div>