<header>
<div class="navbar-container">
    <a href="#" class="title">Pathfinder</a>
    <nav>
        <ul>
            <li class="algorithms">
                <div class= dropdown>
                    <button class="dropbtn">Algorithms</button>
                    <div class="dropdown-content">
                        <a (click)="setPathfindingAlgorithm('Dijkstra')" href="#">Dijkstra</a>
                        <a (click)="setPathfindingAlgorithm('A*')" href="#">A*</a>
                        <a (click)="setPathfindingAlgorithm('Alt-Dijkstra')" href="#">Alt-Dijkstra</a>
                    </div>
                </div>
            </li>
            <li class="maze">
                <div class= dropdown>
                    <button class="dropbtn">Mazes</button>
                    <div class="dropdown-content">
                        <a (click)="visualizeMazeAlgorithm()" href="#">Random Maze</a>
                        <a href="#">To be continued...</a>
                    </div>
                </div>
            </li>
            <li class="visualize"><button id="btn-visualize" (click)="checkAlgorithm()" class="btn-visualize">Visualize!</button></li>
            <li class="clearBoard"><button id="btn-clearBoard" (click)="clearBoard()" class="btn-clearBoard">Clear Board</button></li>
            <li class="clearWalls"><button id="btn-clearWalls" (click)="clearWalls()" class="btn-clearWalls">Clear Walls</button></li>
            <li class="speed">
                <div class= dropdown>
                    <button class="dropbtn">Speed of Animation</button>
                    <div class="dropdown-content">
                        <a (click)="setSpeed('Very Fast')" href="#">Very Fast</a>
                        <a (click)="setSpeed('Fast')" href="#">Fast</a>
                        <a (click)="setSpeed('Normal')" href="#">Normal</a>
                        <a (click)="setSpeed('Slow')" href="#">Slow</a>
                        <a (click)="setSpeed('Very Slow')" href="#">Very Slow</a>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
</div>
</header>

<table class="options-container" cellspacing="0" cellpading="0">
    <tr>
        <th>General</th>
        <th>Heuristics</th>
        <th>Statistics</th>
    </tr>
    <tr>
        <td>
            <input id="diagonal" type="checkbox"><label class="diagonalLabel" for="checkbox">Allow Diagonal</label>
        </td>
        <td>
            <input id="euclidean" type="checkbox" (click)="setHeuristicDistance('euclidean')"><label class="diagonalLabel" for="checkbox">Euclidean</label>
        </td>
        <td>
            <p id="visitedNodesStats">Visited Nodes: <label id="visitedNodes">0</label></p>
        </td>
    </tr>
    <tr>
        <td>
            <input id="bidirectional" type="checkbox"><label class="diagonalLabel" for="checkbox">Allow Bidirectional</label>
        </td>
        <td>
            <input id="manhattan" type="checkbox" (click)="setHeuristicDistance('manhattan')"><label class="diagonalLabel" for="checkbox">Manhattan</label>
        </td>
        <td>
            <p id="shortestPathStats">Length of shortest path: <label id="shortestPath">0</label></p>
        </td>
    </tr>
</table>

<div class="container">
    <table class="grid">
        <tr *ngFor="let rows of nodes; index as row;">
            <td *ngFor="let node of rows; index as col;"
            draggable="false"
            (mousedown)="mouseDown(row, col)"
            (mouseenter)="mouseEnter(row, col)"
            (mouseleave)="mouseLeave(row, col)"
            (mouseup)="mouseUp(row, col)">
                <div [ngClass]="{
                    'isStart': node.isStart,
                    'isEnd': node.isEnd,
                    'isWall': node.isWall,
                    'isVisited': node.isActuallyVisited,
                    'isShortestPath': node.isShortestPath,
                    'node': true
                    }" id="node.id">
                </div>
            </td>
        </tr>
    </table>
</div>