<button (click)="visualizeAlgorithm()">Click me!</button>
<div class="grid-container">
    <span *ngFor="let node of nodes; index as i;">
        <div [ngClass]="{
            'isStart': node.isStart,
            'isEnd': node.isEnd,
            'isWall': node.isWall,
            'isVisited': node.isActuallyVisited,
            'isShortestPath': node.isShortestPath,
            'node': true
        }" id="i" (click)="toggleWall(i)"
        (dragstart)="onDragStart($event, i)"
        (drag)="onDrag($event, i)"
        (dragover)="onDrag($event, i)"
        (dragend)="onDragEnd($event, i)">
        </div>
    </span>
</div>