<div class="navbar-container">
    <span class="title">Pathfinding Visualizer</span>
    <nav class="navmenu-brand">
        <ul>
            <li class="algorithms">
                <div class= dropdown>
                    <button class="dropbtn">Algorithms</button>
                    <div class="dropdown-content">
                        <a href="#">Dijkstra</a>
                        <a href="#">A*</a>
                    </div>
                </div>
            </li>
            <li class="maze">
                <div class= dropdown>
                    <button class="dropbtn">Maze & Patterns</button>
                    <div class="dropdown-content">
                        <a href="#">...</a>
                        <a href="#">...</a>
                    </div>
                </div>
            </li>
            <li class="addBomb"><button class="btn-addBomb">Add Bomb</button></li>
            <li class="visualize"><button class="btn-visualize">Visualize!</button></li>
            <li class="clearBoard"><button class="btn-clearBoard">Clear Board</button></li>
            <li class="clearWalls"><button class="btn-clearWalls">Clear Walls</button></li>
        </ul>
    </nav>
</div>
